// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indexTable{
  width: 500px;
  background-color: #f5f5dc;
}
.tableRow{
  width: 75px;
  height: 75px;
  border-style: outset;
  margin: 0px;
}
.hiddenText{
  display: none;
}

#title-text{
  font-family: serif;
}
